<div class="row" style="color:red">
	<h3>You have cancel this transaction process.</h3>
</div>
<div>
		<h4>Transaction Failed</h4>
		<strong>Transaction amount : </strong><%= @transaction_amount %></br>
		<strong>Time : </strong><%= @time %></br>
</div>
<div class="row">
	<%= link_to 'back', root_path %>	
</div>