<div class="container ">
	<h1>Booking Details</h1>
	<table class="table table-hover col-md-5">
		<tr>
		<% @hostels.each do |f| %>
			<td>Rooms booked:</td>
			<td><%= f.no_of_rooms %></td>
		</tr>
		<tr>
			<td>Rooms booked for duration:</td>
			<td><%= f.months %></td>
		</tr>
	</table>
	<%= link_to "back", hostel_path(@hostel) %>
</div>